[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
djangorestframework = "*"
django-environ = "*"
django-model-utils = "*"
django-filter = "*"
drf-yasg = "*"
psycopg2 = {version = "*", os_name = "== 'windows'"}
psycopg2-binary = {version = "*", os_name = "!= 'windows'"}

[requires]
python_version = "3.8"
